.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: lightblue;
  /* background-image: url(./qhh.png); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo_btn {
  background: none;
}

.logo_btn:hover {
  cursor: pointer;
}

.home-name {
  width: 800px;
  height: 200px;
  background-image: url(./docu.png);
  background-repeat: no-repeat;
  background-size: contain;
}
